bug: update-server bricked after `POST /server/name` with input that Avahi doesn't like

[Note: This ticket has been heavily edited since it was written to scope it down.]

# Summary

If you rename the robot to certain strings, `update-server` will fail to 


# Steps to reproduce

1. **Ensure you have SSH access to your robot.** You will need this to recover from the error after testing.
2. Send an HTTP request to set the robot's name to something longer than 63-ish characters. For example, here's 70 characters:
    
    ```http
    POST /server/name
    {"name": "1234567890123456789012345678901234567890123456789012345678901234567890"}
    ```
    
    The request may return a 500 error.
3. Reboot the robot.

# Current behavior

After the reboot, `update-server` will never come back online.

# Expected behavior

`update-server` should not accept input that can brick it. It should sanitize or reject harmful input through `POST /server/name`.

# Recovery

1. SSH in.
2. Edit `/etc/machine-info`, e.g. with `vi`.
3. Look for a line like `PRETTY_HOSTNAME=<very long string>`. Replace `<very long string>` with something small, like `hello`.
4. Reboot the robot.

Other little things to fix in this area, if we can:

* `POST /server/name` responds with a 500 internal server error if the body is not JSON.
* Some of the Python docstrings seem misleading. They talk as if `POST /server/name` is normalized to be a
 *hostname,* but as far as I can tell, the robot name is totally separate from the hostname. https://github.com/Opentrons/opentrons/blob/2d4f04429844375b3e76abd499b555db5fae0a8a/update-server/otupdate/common/name_management.py#L269-L272

There may be other characters we have to work around, like quotes.

https://www.freedesktop.org/software/systemd/man/machine-info.html

https://www.freedesktop.org/software/systemd/man/os-release.html

In addition to the above notes about safely storing `PRETTY_HOSTNAME` in `/etc/machine-info`, it looks like there's an orthogonal bug related to the Avahi service name. In short, you can brick `update-server` by giving sending it a name that's too long.

* When an HTTP client `POST`s a new name, we first store it as the `PRETTY_HOSTNAME` in `/etc/machine-info`. Then, we set the Avahi service name to be the same string.
    * The Avahi service name can be *mostly* arbitrary Unicode. But, experimentally, it's not *entirely* arbitrary. In particular, there seems to be a length limit. (I *think* this stems from the DNS-SD spec, [RFC 6763 § 4.1.1](https://datatracker.ietf.org/doc/html/rfc6763#section-4.1.1).)
    * If the new Avahi service name is invalid, the D-Bus call will raise an exception. We don't catch this exception, so it'll propagate up and cause a 500 error for the request. **But note that we've already written the dangerous name to `/etc/machine-info`.**
* The next time update-server restarts, it will read the dangerous name from `/etc/machine-info` and then try setting it as the Avahi service name. This will raise an uncaught exception for the same reason as before. But this time, the exception will propagate out to `main()` and prevent the server from coming up.

This ticket explicitly covers update-server breakage. Ticket can be closed when:

- update-server breakage is resolved
- other items have own tickets